Write a program which accepts month's name as input and display the number of days in the month as output :

In [ ]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January","january" "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December

Take any word as input from the user and count the number of vowels in the word

In [ ]:
chrt=input("Enter word = ")
count = 0
vowels = ["a", "e", "i", "o", "u", "A", "E", "I", "O", "U"]
for i in range(len(chrt)):
    if chrt[i] in vowels:
        count += 1
print("Number of vowels in the given string is: ", count)

Enter word = India
Number of vowels in the given string is:  3

In [ ]:

#class question

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice :

1.   List item
2.   List item

In [ ]:
list=[12,15,20,25,40,28,32,45,57,86,67,90]
even=[]
odd=[]

for i in list:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
    print(even)
    print(odd)

[12]
[15]
[12, 20]
[15, 25]
[12, 20, 40, 28, 32]
[15, 25, 45]
[12, 20, 40, 28, 32]
[15, 25, 45, 57]
[12, 20, 40, 28, 32, 86]
[15, 25, 45, 57, 67]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
list=['india','usa','paris','uk',45,80,32,13,2,7]

new_list=[]

for a in list:
  new_list.append(type(a))

print(new_list)

[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>]

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
num=[17,70,75,120,400,630,525,700,200]

for i in num:
  if i>630:
    break
  elif i==140:
    continue
  elif i%7==0:
    print(i)

70
630
525